.hardikpandya{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
ul{
    color: whitesmoke;
}
li{
    color: whitesmoke;
}
*{
    color : whitesmoke;
}
